<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.yun.biao.quartz.service.dao.QuartzJobDetailMapper">

    <!-- 查询定时任务的数量 -->
    <select id="getQuartzJobCount" resultType="int">
        SELECT COUNT(1) FROM QRTZ_JOB_DETAILS AS job
        LEFT JOIN QRTZ_TRIGGERS AS tri ON job.JOB_NAME = tri.JOB_NAME
        LEFT JOIN QRTZ_CRON_TRIGGERS AS cron ON cron.TRIGGER_NAME = tri.TRIGGER_NAME
        WHERE tri.TRIGGER_TYPE = 'CRON'
        <if test="jobName != null and jobName !=''">
            AND job.JOB_NAME = #{jobName}
        </if>
    </select>

    <!--  查询定时任务列表  -->
    <select id="getQuartzJobList" resultType="com.li.yun.biao.quartz.entity.QuartzJobDetailEntity">
        SELECT job.JOB_NAME AS jobName,job.JOB_GROUP AS jobGroup,
        job.DESCRIPTION AS description,job.JOB_CLASS_NAME AS jobClassName,
        cron.CRON_EXPRESSION AS cronExpression,tri.TRIGGER_NAME AS triggerName,
        tri.TRIGGER_STATE AS triggerState,job.JOB_NAME AS oldJobName,
        job.JOB_GROUP AS oldJobGroup
        FROM QRTZ_JOB_DETAILS AS job
        LEFT JOIN QRTZ_TRIGGERS AS tri ON job.JOB_NAME = tri.JOB_NAME
        LEFT JOIN QRTZ_CRON_TRIGGERS AS cron ON cron.TRIGGER_NAME = tri.TRIGGER_NAME
        WHERE tri.TRIGGER_TYPE = 'CRON'
        <if test="jobName != null and jobName !=''">
            AND job.JOB_NAME = #{jobName}
        </if>
        <if test="pageStart != null and pageEnd != null">
            limit #{pageStart},#{pageEnd};
        </if>
    </select>

</mapper>